<div class="grid-container">
  <h1 class="mat-h1">Lista de Expedientes</h1>
  <mat-grid-list cols="4">
    
    <mat-grid-tile [colspan]="3" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <button mat-stroked-button color="primary"(click)="getExpedientes()"> Obtener Expedientes </button>
            <button mat-stroked-button color="primary"(click)="calcularReporte()"> Calcular Reporte </button>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">

            <table border="1">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>CODIGO CAUSA</th>
                  <th>CARATULA</th>
                  <th>AUDIENCIAS</th>
                  <th>REGISTRADO</th>
                </tr>              
              </thead>
              <tbody>
                <tr *ngFor="let item of this.expedientes">
                <td>{{item.id}}</td>
                <td>{{item.causa_cod}}</td>
                <td>{{item.caratula}}</td>
                <td>{{item.nro_audiencias}}</td>
                <td>{{item.registrado}}</td>
                </tr>              
              </tbody>
            </table> 

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
           Totales
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          total_expedientes: {{total_expedientes}} <hr>
          total_audiencias: {{total_audiencias}} <hr>
          ultimo_movimiento: {{ultimo_movimiento}}
        </mat-card-content>
        <mat-card-footer class="card-footer">
          <button mat-stroked-button color="primary"> Enviar Reporte </button>
        </mat-card-footer>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

{{this.expedientes | json}}
